.hidden {
  pointer-events: none;
  overflow: hidden;
  // opacity hinder accessibility. (consider replacing in the future)
  opacity: 0;

  // minimize, without removing from dom:
  outline: 0;
  // -1px to compensate for input's size
  margin: 0 -1px 0 0;
  border: 0;
  width: 1px;
  height: 1px;
  background: none;
  padding: 0;
}
