@import '../colors.module.scss';

div[data-sample='true'] {
  width: 90px;
  height: 20px;
  margin-bottom: 10px;
}

// purple
.p70 {
  background-color: $p70;
}
.p60 {
  background-color: $p60;
}
.p50 {
  background-color: $p50;
}
.p40 {
  background-color: $p40;
}
.p30 {
  background-color: $p30;
}
.p20 {
  background-color: $p20;
}

// blue
.b70 {
  background-color: $b70;
}
.b60 {
  background-color: $b60;
}
.b50 {
  background-color: $b50;
}
.b40 {
  background-color: $b40;
}
.b30 {
  background-color: $b30;
}
.b20 {
  background-color: $b20;
}

// pink
.pink70 {
  background-color: $pink70;
}
.pink60 {
  background-color: $pink60;
}
.pink50 {
  background-color: $pink50;
}
.pink40 {
  background-color: $pink40;
}
.pink30 {
  background-color: $pink30;
}
.pink20 {
  background-color: $pink20;
}

// green
.g70 {
  background-color: $g70;
}
.g60 {
  background-color: $g60;
}
.g50 {
  background-color: $g50;
}
.g40 {
  background-color: $g40;
}
.g30 {
  background-color: $g30;
}
.g20 {
  background-color: $g20;
}

// yellow
.y70 {
  background-color: $y70;
}
.y60 {
  background-color: $y60;
}
.y50 {
  background-color: $y50;
}
.y40 {
  background-color: $y40;
}
.y30 {
  background-color: $y30;
}
.y20 {
  background-color: $y20;
}

// red
.r70 {
  background-color: $r70;
}
.r60 {
  background-color: $r60;
}
.r50 {
  background-color: $r50;
}
.r40 {
  background-color: $r40;
}
.r30 {
  background-color: $r30;
}
.r20 {
  background-color: $r20;
}

// dark
.d70 {
  background-color: $d70;
}
.d60 {
  background-color: $d60;
}
.d50 {
  background-color: $d50;
}
.d40 {
  background-color: $d40;
}
.d30 {
  background-color: $d30;
}
.d20 {
  background-color: $d20;
}

// shadow
.s50 {
  background-color: $s50;
}
.s40 {
  background-color: $s40;
}
.s30 {
  background-color: $s30;
}
.s20 {
  background-color: $s20;
}
.s10 {
  background-color: $s10;
}
